@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


@mixin font-size($size) {
    font-size: $size;


    @media (max-width:1200px) {
        font-size: $size * 0.9;
    }

    @media (max-width: 768px) {
        font-size: $size * 0.8;
    }

    @media (max-width: 480px) {
        font-size: $size * 0.7;
    }
}

@mixin font-primary($size, $weigth) {
    font-family: 'monterrat', sans-serif;
    font-size: $size;
    font-weight: $weigth;

}

@mixin primary-color {
    color: #6EA0F9;
}

@mixin secondary-color {
    color: #F2A502;
}

@mixin third-color {
    background-color: #3F4D5E;
}