
.header-red {
  background-color: #800020 !important; 

}

.header {
  background-color: #015871;  
  color: #000;
}


.ocean-red {
  background-color: #800020 !important;  
  color: #fff;
}

.ocean {
  background-color: #015871;  
  color: #000;
}
